.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 400px);
    grid-gap: 2vw;
    justify-items: start;
    align-items: start;
    height: 100vw;
}

.grid-item {
    box-sizing: border-box;
    color: #fff;
    padding: 1em;
    font-size: 20px;
    width: 200px;
    height: 200px;
    background: linear-gradient(140deg, rgb(160, 129, 245),rgb(54, 18, 95));
}

.decor {
    width: 50px;
    height: 50px;
    background-color: rgb(228, 220, 250);
    transform: rotate(45deg);
}